.about {
  background-color: #f1f1f1;
  background-image: url("../img/about-bg.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 275px;
  padding-bottom: 275px;
  min-height: 100vh;
  &__title {
    text-align: right;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
  }
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: #606060;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 60px;
    p {
      max-width: 450px;
      margin-bottom: 40px;
    }
  }
}
