.benefits {
    min-height: 100vh;
    background-image: url('../img/benefits-bg.png');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    padding-top: 236px;
    // padding-bottom: 209px;
    &__title {
        font-size: 48px;
        line-height: 58px;
        font-weight: 500;
        margin-top: 100px;
    }
    &__block {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-gap: 60px 112px;
        // justify-content: center;
    }
    &__each {
        display: flex;
        // align-items: center;
        &--img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
        &-title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color: #1A1F25
        }
    }
}