@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
  .promo {
    &__big-menu {
      width: 550px;
    }
  }
  .about {
    padding-top: 100px;
    padding-bottom: 65px;
  }
  .portfolio {
    &__btn {
      right: 8%;
    }
  }
  .offers {
    &__each {
      width: 228px;
      padding: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .promo {
    &__big-menu {
      width: 440px;
    }
  }
  .offers {
    &__all {
      grid-template-columns: repeat(4, 1fr);
    }
    &__each {
      width: 240px;
      &:nth-child(5) {
        border-right: 1px solid #595959;
      }
      &:nth-child(4n) {
        border-right: none;
      }
      &:nth-child(9),
      &:nth-child(10) {
        border-bottom: none;
      }
      &:last-child {
        grid-column-start: 4;
        grid-row-start: 3;
        border-right: none;
        border-left: none;
      }
    }
    &__each-center {
      grid-column-start: auto;
      grid-column-end: auto;
    }
    &__button {
      grid-column-start: 3;
      display: flex;
      text-align: center;
      margin-left: -250px;
      margin-top: 50px;
    }
  }
  .footer {
    &__bottom {
      justify-content: space-around;
    }
    &__columns {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    &__column {
      margin-bottom: 50px;
      width: 255px;
    }
  }
  .about {
    padding-top: 30px;
    padding-bottom: 17px;
    background-position: center left;
    background-size: contain;
    &__text {
      p {
        max-width: 450px;
      }
    }
  }
  .portfolio {
    &__btn {
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      top: auto;
      height: auto;
    }
  }
  .benefits {
    &__block {
      grid-template-columns: repeat(2,400px);
      grid-gap: 60px 60px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .btn__special {
    background: rgba(255, 255, 255, 0.4);
  }

  .about {
    background: #f1f1f1;
    &__title {
      text-align: center;
    }
    &__text {
      text-align: center;
      p {
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }
  }
  .offers {
    &__all {
      grid-template-columns: repeat(3, 1fr);
    }
    &__each {
      &:nth-child(4) {
        border-right: 1px solid #595959;
      }
      &:nth-child(3),
      &:nth-child(6) {
        border-right: none;
      }
      &:nth-child(11) {
        border-right: none;
      }
      &:last-child {
        grid-column-start: 3;
        border-left: 1px solid #595959;
        border-bottom: 1px solid #595959;
      }
    }
    &__button {
      margin-left: 0;
      grid-column-start: 2;
    }
  }
  .benefits {
    padding-bottom: 100px;
    &__block {
      grid-template-columns: repeat(2,300px);
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }

  .promo {
    &__title {
      font-size: 55px;
      line-height: 60px;
    }
    &__big-menu {
      width: 370px;
    }
  }
  .portfolio {
    min-height: 870px;
    &__btn {
      bottom: 145px;
      font-size: 15px;
    }
  }
  .offers {
    &__all {
      grid-template-columns: repeat(2, 240px);
    }
    &__each {
      &:nth-child(even),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(9) {
        border-right: none;
      }
      &:nth-child(9) {
        border-bottom: 1px solid #595959;
      }
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(8) {
        border-right: 1px solid #595959;
      }
      &:last-child {
        grid-column-start: 2;
      }
    }
    &__button {
      margin-left: -250px;
    }
  }
  .benefits {
    &__block {
      grid-template-columns: repeat(1,500px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: auto;
  }

  .promo {
    background-position: left top;
    &__header {
      padding: 0 10px;
    }

    .header {
      &__menu-list--item {
        img {
          width: 80%;
        }
      }
    }
    &__title {
      font-size: 36px;
      line-height: 47px;
    }
  }
  .btn__special {
    background: none;
  }
  .footer {
    &__columns {
      grid-template-columns: repeat(1, 1fr);
    }
    &__bottom {
      flex-direction: column;
      align-items: center;
    }
    &__bottom-logo {
      margin-bottom: 25px;
    }
  }
  .about {
    &__title {
      font-size: 36px;
    }
    &__text {
      p {
        max-width: 80%;
      }
    }
  }
  .portfolio {
    min-height: 730px;
    padding: 50px 10px 0 10px;
    &__btn {
      width: 75%;
    }
  }
  .offers {
    &__all {
      grid-template-columns: 240px;
    }
    &__each {
      border: 0;
      border-left: none;
      border-bottom: 1px solid #595959;

      &:last-child,
      &:nth-child(even),
      &:nth-child(odd) {
        grid-column-start: auto;
        border: none;
        border-bottom: 1px solid #595959;
      }
    }
    &__button {
      margin-left: 0;
      grid-column-start: 1;
    }
  }
  .benefits {
    padding-left: 10px;
    padding-right: 10px;
    &__title {
      font-size: 34px;
    line-height: 44px;
    margin-top: 176px;
    }
    &__block {
      grid-template-columns: repeat(1,300px);
      justify-content: center;
    }
    &__each{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__each--img {
      margin-bottom: 10px;
    }
  }
}
