.portfolio {
  padding-top: 90px;

  // background-image: url('../img/portfolio-bg.png');
  // background-repeat: no-repeat;
  // background-size: 60%;
  // background-position: bottom center;
  min-height: 100vh;
  position: relative;
  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
  }
  &__bg {
    display: block;
    margin-top: 70px;
  }
  &__btn {
    position: absolute;
    top: 40%;
    right: 22%;
  }
}
